# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Default setup for EasyPHP
    virtual_host_config_path: C:/EasyPHP/data/conf/apache_virtual_hosts.conf
    hosts_path: C:/Windows/System32/drivers/etc/hosts
